.box {
	width: 200px;
	height: 200px;
	border: 1px solid blue;
	display: inline-block;
  }
  .haha{
	height: auto;
	background-color: black;
  }
  #first{
	background-color:blue;
	float: left;
  }
  #second{
	background-color: red;
	float: left;
  }
  #third{
	background-color: green;
	float: left;
  }
  #header{
	  height: 150px;
  }
  .red{
	background-color: red;
	float: left;
  }
  .blue{
background-color: blue;

  }
  .orange{
	background-color: orange;
	float: left;
  }